body {
  background-color: black;
  color: aliceblue;
  font-family: "ZCOOL KuaiLe", cursive;
}
header {
  font-size: 4rem;
}

.card {
  font-family: "Odibee Sans", cursive;
  font-size: 2.5rem;
}

#show-card {
  height: fit-content;
  text-align: justify;
}

#mosh-display-card {
  height: fit-content;
}
